<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:type="http://www.w3.org/1999/xhtml">
<body>
<form action="#" th:action="@{/}" th:object="${dentistVisitDTO}" method="post">
    <table>
        <tr>
            <td><p th:text="#{dentist.name}">dentist.name</p>
            <input type="radio" name="dentistName" value="E.Kask"   th:field="*{dentistName}"/> E.Kask<br/>
            <input type="radio" name="dentistName" value="H.Oja"    th:field="*{dentistName}"/> H.Oja<br/>
            <input type="radio" name="dentistName" value="R.E.Tamm" th:field="*{dentistName}"/> R.E.Tamm
            </td>
        </tr>
        <tr>
            <td><p th:text="#{visit.date}">visit.date</p></td>
            <td><input id="visitDate" type="datetime-local" th:field="*{visitTime}" required="true"/></td>
            <td th:if="${#fields.hasErrors('visitTime')}" th:errors="*{visitTime}">date.error</td>
        </tr>
        <tr>
            <td>
                <button type="submit" th:text="#{register.visit}"></button>
            </td>
        </tr>
    </table>
</form>
<a href="registrations">
    <input type="button" value="Vaata registreeringuid" />
</a>
<script>
//https://stackoverflow.com/questions/32378590/set-date-input-fields-max-date-to-today
// Tavaliste comparison operatorite asemel tuleb kasutada &lt; või &gt; jne
var today = new Date();
var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
var dateTime = date+' '+time;
// Miinimum- ja vaikeväärtuse seadistamine ei toimi nii, katsetada teisi meetodeid
document.getElementById("visitDate").setAttribute("min",dateTime);
document.getElementById("visitDate").setAttribute("value", new Date());
</script>
</body>
</html>