<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css"/>
</head>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<body>
<table id="dentistVisits" class="display">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Visit Time</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr>
    </tr>
    <tr>
    </tr>
    </tbody>
</table>
<a href="/">
    <input type="button" value="Tagasi" />
</a>
</body>

<!-- https://datatables.net/manual/  -->
<script>
$('#dentistVisits').DataTable( {
        "ajax": "DentistVisitServlet"
    });
</script>

