<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<p th:text="#{registration.ok}">registration.ok</p>
<a href="/">
    <input type="button" value="Tagasi" />
</a>
<a href="registrations">
    <input type="button" value="Vaata registreeringuid" />
</a>
</body>
</html>